body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: teal;
}

h1 {
    font-size: 16rem;
    font-family: Montserrat;
}

.letters {
    transition: color 1000ms;
}